  
/* - - - -  class  - - - - - */  
.card {
   margin: 0 auto; /* Added */
   float: none; /* Added */
   margin-bottom: 10px; /* Added */
}

.descrip {
   font-size: 0.8em;
}

.btns {
   text-align: right;
}